@{
    ViewData["Title"] = "Edit";
    List<User> users =  (List<User>)ViewData["Users"];
    Guid id =  (Guid)ViewData["Id"];
}

<h1>Add SME</h1>

<h4>Platform</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSme">
            <input type="hidden" name="platformId" value="@id"/>
            <input type="hidden" name="type" value="sme"/>
            <div class="form-group">
                <select name="userId" class="form-control">
                    @foreach (User item in users)
                    {
                        <option value="@item.Id">@item.Name : @item.Email</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
